/* Background Image, Text Alignment, & Border */
body {
	background-image: url('https://kemijarvi.github.io/resources/bg_0a.png');
	background-size: cover;
	text-align: center;
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 10px;
}
/* Add padding to containers */
.container {
  padding: 16px;
}
/* Menu Button Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Add a hover effect for buttons */
ul a:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

}